<apex:page standardcontroller="Survey__c" extensions="ViewSurveyController" cache="false" sidebar="false" showheader="false">
    <apex:includeScript value="{! $Resource.SurveyForce_jquery}"/>
    <!-- convertCheckBoxToLDS() is in surveyforce.js -->
    <apex:includeScript value="{! $Resource.SurveyForce + '/surveyforce.js'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce + '/surveyforce.css'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce + '/surveyforce_pagemessage_override.css'}"/>
    <apex:stylesheet value="{! $Resource.SurveyForce_SLDS + '/assets/styles/salesforce-lightning-design-system-vf.min.css'}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <script>
        $(document).ready(function(){
            //Convert any elements with "convertToLDS" style to SLDS styles
            //Used in certain places where it's not easy to use SLDS for those elements like "apex:selectCheckboxes"
            convertCheckBoxToLDS();
        });
    </script>
    <!-- Custom CSS added by survey admin -->
    <style>
        <apex:outputText value="{!HTMLENCODE(surveyContainerCss)}" escape="false"/>
    </style>
   <div id="survey_container" class="surveyforce">
        <apex:form id="theForm" >
             
            <div class="slds-text-title_caps slds-text-align_center"><p>
                    </p>CUSTOMER SURVEY</div>
                       <div class="slds-box slds-theme--shade"><span class="slds-avatar slds-avatar--max-large">
  <img src="https://vs-useracceptance--uat--c.cs58.content.force.com/servlet/servlet.ImageServer?id=0150l0000005fAS&oid=00D0l000000Cvst&lastMod=1516401655000"/>
                    </span><br/><br/>
                       <p>{!$Label.VishwasamudraSurveyQuotation}</p>

                </div>
    


            <script>
                $(document).ready(function(){
                    overridePageMessages();
                });
            </script>


            <apex:pageMessages />
            
            <c:uiMessage severity="success" message="{!surveyThankYouText}" renderMe="{!thankYouRendered == true}" />
            <apex:outputPanel rendered="{!thankYouRendered == false}">
            <br/>
          **On a scale of 1 to 5 (1 being the highest and 5 being the lowest) please give the rating.
            <br/>
          
                               <div class="slds-form--stacked">
                    <apex:repeat value="{!allQuestions}" var="qPreview" id="aQPreview">
                        <div class="slds-box slds-theme--default">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">
                                        {!qPreview.orderNumber + ': ' + qPreview.question}
                                        <apex:outputText rendered="{! qPreview.required}" value="({!$Label.LABS_SF_Required})" />
                                </label>
                            </div>
                            <apex:outputPanel rendered="{!qPreview.renderSelectRadio}">
                                <apex:selectRadio styleClass="convertToLDS" layout="pageDirection" rendered="{!qPreview.renderSelectRadio}" value="{!qPreview.selectedOption}" >
                                    <apex:selectOptions value="{!qPreview.singleOptions}"/>
                                </apex:selectRadio>
                            </apex:outputPanel>

                            <apex:outputPanel rendered="{!qPreview.renderSelectCheckboxes}">
                                <apex:selectCheckboxes styleClass="convertToLDS" layout="pageDirection" rendered="{!qPreview.renderSelectCheckboxes}" value="{!qPreview.selectedOptions}" >
                                    <apex:selectOptions value="{!qPreview.multiOptions}"/>
                                </apex:selectCheckboxes>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!qPreview.renderFreeText}">
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control" >
                                        <apex:inputTextArea styleClass="slds-textarea" cols="" rows="{!qPreview.noOfRowsForTextArea}" rendered="{!qPreview.renderFreeText}" value="{!qPreview.choices}"/>
                                    </div>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!qPreview.renderSelectRow}">
                                <apex:selectRadio styleClass="convertToLDS" rendered="{!qPreview.renderSelectRow}" value="{!qPreview.selectedOption}">
                                    <apex:selectOptions value="{!qPreview.rowOptions}"/>
                                </apex:selectRadio>
                            </apex:outputPanel>
                        </div>
                    </apex:repeat>
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!thankYouRendered == false}">
                <div class="slds-box slds-theme--default">
                    <apex:outputPanel rendered="{!isInternal}" >
                            <span class="slds-text-body--regular">{!$Label.LABS_SF_Answer_as}:</span>
                            <apex:selectRadio styleClass="convertToLDS" value="{!anonymousAnswer}">
                                <apex:selectOptions value="{!anonymousOrUser}" />
                                <apex:actionSupport event="onchange" rerender="hiddenAnonymousAnswer"/>
                            </apex:selectRadio>
                            <apex:inputHidden value="{!anonymousAnswer}" id="hiddenAnonymousAnswer"/>
                            <br />
                    </apex:outputPanel>
                    <apex:commandButton styleClass="slds-button slds-button--brand" action="{!submitResults}" value="{!$Label.LABS_SF_SubmitSurvey}" rerender="theForm,seeSurvey" />
                </div>
                Thank you for your comments and suggestions.
            </apex:outputPanel>
        </apex:form>
    </div>
</apex:page>