.THIS.slds-p-around--medium {
    padding: 0rem !important;
    }
.THIS.slds-modal__content {
    overflow-y: hidden !important;
    height: unset !important;
    max-height: unset !important;
    } 
.THIS.cuf-content {
    padding: 0 0rem !important;
    }
.slds-p-around--medium.THIS {
    padding: 0rem !important;
    }
.slds-modal__content.THIS {
    overflow-y: hidden !important;
    height: unset !important;
    max-height: unset !important;
    } 
.cuf-content.THIS {
    padding: 0 0rem !important;
    }
/*toggleCss.css*/
.THIS.toggle {
    display: none;
}